/* How can I give all images a max-width? */

/* How can I give all images of a class a max-width? */

/* How can I give just a single image a max-width? */

/* #photo-two {
  height: 300px;
}

.photo {
  height: 150px;
} */

/* ul, li {
  border: 1px solid black;
} */

ul.nav {
 height: 40px;
 line-height: 40px;
 width: 90%;
 border-radius: 25px;
 margin: 0px auto;
 background-color: darkgrey;
}



li {
  display: inline;
  margin: 0px 20px;
  padding: 11px 5px;
}

li:hover {
  background-color: blueviolet;
  transition-duration: 2s;
}

.index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}

.index-tile {
  background-color: lightgrey;
  margin: 15px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}


.index-photo {
  height: 150px;
}